@charset "UTF-8";
.top-tools-panel {
  width: 100%;
  height: 40px;
  background-color: #5A5A5A;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 998;
}

.tool {
  padding-left: 40px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  /* Текст перед свойством */
}

.tool.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tool .description-of-setting {
  color: #fff;
  font-size: 10px;
  margin-right: 7px;
  margin-left: 16px;
  font-family: arial;
  text-shadow: 0 0px 1px #000;
  font-weight: 700;
}

.tool .color-form {
  padding: 0;
  border: 1px solid #303030;
  height: 18px;
  width: 28px;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1);
}

.tool .wrapper-of-text-tool-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 17px;
  width: 60px;
  border: 1px solid #303030;
  background-color: #3F3F3F;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1);
  border-radius: 0 3px 3px 0;
}

.tool .wrapper-of-text-tool-setting .text-form {
  height: 15px;
  width: 37px;
  background-color: #3F3F3F;
  border: none;
  color: #fff;
  font-size: 10px;
  font-family: arial;
  font-weight: 100;
  padding-left: 3px;
}

.tool .input-with-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tool .block__open-range {
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#636363));
  background: linear-gradient(180deg, #757575, #636363);
  border-left: 1px solid #202020;
  border-top: 1px solid #919191;
  height: 16px;
  width: 17px;
  border-radius: 2px 3px 3px 0;
}

.tool .block__open-range::after {
  content: "";
  position: relative;
  left: 6px;
  top: 10px;
  border: 3px solid transparent;
  border-top: 3px solid #E9E9E9;
}

.tool .block__open-range.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#3F3F3F), to(#424242));
  background: linear-gradient(180deg, #3F3F3F, #424242);
  border-top: 1px solid transparent;
}

.tool .range {
  display: none;
  width: 120px;
  position: absolute;
  margin-top: 19px;
  margin-left: -63px;
  background-color: #5F5F5F;
  border: 1px solid #383838;
}

.tool .range.active {
  display: block !important;
}

.tool input[type=range] {
  -webkit-appearance: none;
}

.tool input[type=range]:focus {
  outline: none;
}

.tool input[type=range]::-moz-range-track {
  width: 85%;
  height: 18%;
  background: linear-gradient(0, #484848, #333333);
  border-radius: 3px;
  border: 1px solid #303030;
}

.tool input[type=range]::-moz-range-thumb {
  background: url(../imgs/polzunock.png) center center no-repeat;
  background-size: 100%;
  width: 27px;
  height: 27px;
  cursor: pointer;
  border: none;
}

.left-tools-panel {
  width: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
  position: fixed;
  z-index: 997;
  background-color: #5A5A5A;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

.left-tools-panel .tools-icon {
  width: 27px;
  height: 20px;
  margin-top: 4px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.left-tools-panel .tools-icon:hover {
  height: 19px;
  border-top: 1px solid #919191;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#626262), to(#7E7E7E));
  background: linear-gradient(0, #626262, #7E7E7E);
  -webkit-box-shadow: 0 0 1px 1px rgba(35, 35, 35, 0.8);
          box-shadow: 0 0 1px 1px rgba(35, 35, 35, 0.8);
}

.left-tools-panel .tools-icon.active {
  cursor: default;
  background: linear-gradient(-45deg, #3f3f3f, #363636);
  -webkit-box-shadow: inset 0 0 3px black;
          box-shadow: inset 0 0 3px black;
  outline: 1px solid rgba(145, 145, 145, 0.2);
}

.left-tools-panel .tools-icon.active:hover {
  height: 20px;
  border-top: none;
}

.left-tools-panel .fas {
  color: #B9B9B9;
}
/*# sourceMappingURL=toolspanels.css.map */